language: java

sudo: true

addons:
  ulimit:
    nofile: 1048576

env:
  global:
  - COMMIT=${TRAVIS_COMMIT::8}
  - secure: "uqpMB9LWKmDDwOTZkGhaf7ROUaRPNYRSvHQewqBZKzCw/jox3vwoamsy4aNA3SD0cWgh64Ojk5lc4WV40pOQjL/5fRXen4/mqIr6uHxz5rJtij+8Bx9eYCVskY90b0DWHnT8+Vukm283p3ucP4B0tFSALKFiMFWOrG/kbEt3WBgMrWhBAFOcSvhAmtu+b4IuDaIF0n2gwh1TBL+s+UauZQ/nSzFLBLyjb2v68GIEZmsRUyw2aFEObutppj7STtnKr1Nu2G2/Pz53CtusRB947PWFH5j/WUz+OETuJ3o7Fq/HV1B7g4E3dxsflzLmXhwynAHLZUdbHFvMfQJ1kHKPOQwRsJA5jjJcuxDzNQ40PhsISePCMh/txyZuyUh7hLxH4yv2MZ6IlT/BSkhGlmFYOjmOuBfRTyKiqgLn7lXk8HqsJy4/FjoAh/Pjj979IC4MXWi40RXas0fKTcDVzk77qwuydC5V1VXDKuFF5fiPkfhcpaBQ0YDcUCSsbWonsB9G56v25FrBI1TE1JvKwsTkZZ3B8GuW6E1EvbxDduPDp/QZLeG3MTsjHdEyZUM7tz1U8ouGckibZ8cQdBml5ONgeUMPyp7J49AAZ7gO36p/ManDScAVLWeMAfXTKktBGO4otX2LygDiYUkH9a5eeJFWpRAkTc87jhn0CKgTBNigEw0="
  - secure: "behFDyjsAiKxoGoqroAXEfzQx6TdydnwEypEkUJ0lDjTgn2rq7BbAj6gW/nX0W4mfYGaalf/9KEc24qFy/7fly1RMuno6n+KN8eT0dBd0ZyS1rnDqOetuSoukVwEI/r8Yx4PWmNcHi+004GmKpZQILHtNs07rcSFzdiGlj+8YvFFMiIpubdjJq0+ikm+a7QzysMLC5OqSywda1HpxrYF0Nk3w8PSr/tLIkMMsUbr0CrZwaOpbqP8p3pvArTOZ0xNagtUUMq+efJkvTOXTYwfxGTcy+KsBFd6xPdCtwX5ru4NJFixnJhW4nKRf61jqzA41hsjgxcCx3IOpInSQAvmSfCi5dtsn8aYZ2oWPYVME4vhmHJbsYgohuQr5ax6X32ZOYNfBMmJP+AzF1rCgZpnZFOU856g8RziVKb5CeA91OqclAgmINgQGMGBVKIbhGEBkMvD8cGudGTsSthtBDpDJ0dm/j/U3OPoexrPAr+hb7sCZCQL6e5n7um/Um82eRg5LdR2+ZKdQ6CQcCWGVWJ5i5KqjyRfMW6lEfGtJPmPuds7oPgzGppyYh8UERh9OxU01tbvdjevLgheOH/wD8YF+HLEs7Yw7Fisu0m1L23SLYiVlmXOklvEP36BRuUi0RUykhf2/EdQjFRQR934DHKXR1r2cXYE2gn5C/Bx4/JB3ro="
before_install:
- curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
- sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
- sudo apt-get update
- sudo apt-get -y install docker-ce

jobs:
  include:

  - stage: "Integration Tests"
    script: "./gradlew test --tests com.emc.mongoose.storage.driver.pravega.integration.*"

  - stage: "System Tests"
    script:
    - "./gradlew clean jar"
    - "./gradlew test --tests com.emc.mongoose.storage.driver.pravega.system.*"

  - stage: "Deploy to DockerHub"
    script:
    - ./gradlew clean jar
    - docker login -u $DOCKER_USER -p $DOCKER_PASS
    - export REPO=emcmongoose/mongoose-storage-driver-pravega
    - export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH; fi`
    - docker build --build-arg MONGOOSE_VERSION=4.0.1 -f docker/Dockerfile -t $REPO:$COMMIT .
    - docker tag $REPO:$COMMIT $REPO:$TAG
    - docker tag $REPO:$COMMIT $REPO:travis-$TRAVIS_BUILD_NUMBER
    - docker push $REPO

  - stage: "Deploy to GitHub releases"
    deploy:
      skip_cleanup: true
      provider: releases
      api_key:
        secure: LB0I2j3QWoR65Ty15ib8XV5ozIot72pD+6Mx1rcFht2VRajJPwqzOioH//pXHGKXgXNSaefqYqk19IrOFqrG3gykXsJO3AInVjtnt+g9vuPhjA+bXQxbfp8sTc99u6X7NalZB33SZy+O9N3S2tQ0pRtrsNfXKOrBPsro6LGDcZOYGHL2c2KMkFUF3LjPi1wSvea03DqIBCdvUhmD86krKJsNpK5lklz5HCADLfzp5VAERp1gAEYDvTXkn7wJiZhefbROPV0IoIBXjdKMTth3dEMsVObtD4eMXC3uiC90Jl+z/TzMxZ7H1vIobZtuNn6dZB32kMJRwLDK2DZ8kZiBkA7qXXHhRN2R/r84LUiGdp27QkV/ECiAMJjAae0zLaAp2rW1PA4OTFrVLuDcRBZIugLmAavZDD+k1rrF5ueFhSyw5w7mtFRLB2RMojwQ6U3i7Qf1NL37EHCTgGR5R9hzot+WQhNBqwrOUnkIlYDqNv20dfLEQyTVyustTeh7hvSrp2JDUIimAgojXW4X36R1zVtVH4fhKbay6dLncS9N+3bB1EpES+a0d4LTCYbuJwkg6VQYi9kfLBHMSLFQgMqKAIJrq9nkYQTmW5b423nyN7H85g5IQ8YGVeK6yHkNWXUMG6v9233aLG1BeB04X5ftzWo/7G3ra9ACvJ4Bvrg2Zo8=
      file: "./build/libs/mongoose-storage-driver-pravega.jar"
      on:
        tags: true

